# This is Git's per-user configuration file.
[user]
        name = Niclas Fredriksson
        email = niclas.fredriksson@tretton37.com

[alias]
        co = checkout
        cane = commit --amend --no-edit
        gclean="git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -d"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	fwl = push --force-with-lease
[commit]
	template = /Users/nicce/.gitmessage
